# Python
__pycache__/
*.py[cod]
*$py.class

# Envs
.venv/
venv/
env/
conda/
*.egg-info/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Notebooks / colab junk
.ipynb_checkpoints/
*.npy

# post edit cleanup
*.zip 

notebooks\EDA\eda_from_results.ipynb
src\run.py
src\run_lora.py
UPDATE/*