# Python
__pycache__/
*.py[cod]
*$py.class

# Envs
.venv/
venv/
env/
conda/
*.egg-info/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Notebooks / colab junk
.ipynb_checkpoints/
*.ipynb
*.npy

# post edit cleanup
src/utils/eomt_post.py
*.zip 